body {
    position: relative;
    width: 1440px;
    height: 3792px;
    background: #F1F1F1;
    
    }

.header {
    width: 1230px;
    height: 26px;
    left: 107px;
    top: 32px;
    color: #1C1D21;
}

.header__remotely {
    position: absolute;
    width: 107px;
    height: 26px;
    left: 107px;
    top: 32px;
    
    font-family: Messina Sans Trial;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 109.5%;
    /* or 26px */
    color: #1C1D21;
}

.header__book {
    position: absolute;
    width: 44px;
    height: 16px;
    left: 928px;
    top: 38px;
    /* nav */
    font-family: Messina Sans Trial;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 89.5%;
    /* or 16px */
    color: #1C1D21;
}

.header__explore {
    position: absolute;
    width: 65px;
    height: 16px;
    left: 1004px;
    top: 36px;
    /* nav */
    font-family: Messina Sans Trial;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 89.5%;
    /* or 16px */
    color: #1C1D21;
}

.header__about {
    position: absolute;
    width: 53px;
    height: 16px;
    left: 1101px;
    top: 36px;
    /* nav */
    font-family: Messina Sans Trial;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 89.5%;
    /* or 16px */
    color: #1C1D21;
}

.header__signin {
    position: absolute;
    width: 59px;
    height: 16px;
    left: 1278px;
    top: 36px;
    /* nav */
    font-family: Messina Sans Trial;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 89.5%;
    /* or 16px */
    color: #1C1D21;
}

.rectangle8 {
    position: absolute;
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 0px;
    background: #D9DCD7;
}

.rectangle8__button {
    position: absolute;
    width: 149px;
    height: 48px;
    left: 105px;
    top: 768px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 33px;
}

.rectangle8__button_text {
    position: absolute;
    width: 85px;
    height: 26px;
    left: 32px;
    top: 11px;
    font-family: Messina Sans Trial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 109.5%;
    /* or 26px */
    color: #1C1D21;
    margin-top: 0px;
    margin-bottom: 0px;
}

.rectangle8__description {
    position: absolute;
    width: 605px;
    height: 267px;
    left: 123px;
    top: 453px;
    bottom: 180px;
    font-family: Messina Sans Trial;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 96.5%;
    margin-top: 0px;
    margin-bottom: 0px;
    /* or 93px */
    color: #1C1D21;
    }

.rectangle8__mainpic {
    position: absolute;
    width: 609px;
    height: 436px;
    left: 728px;
    top: 284px;
    border-radius: 8px;
}

.offer {
    position: absolute;
    width: 1212px;
    height: 86px;
    left: 114px;
    top: 990px;
    font-family: Messina Sans Trial;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 119.5%;
    /* or 43px */
    text-align: center;
    /* deep dark */
    color: #1C1D21;
}

.welcome2 {
    position: absolute;
    width: 1232px;
    height: 504px;
    left: 104px;
    top: 1162px;
}

.welcome2__pic1 {
    width: 400px;
    height: 504px;
    left: 104px;
    top: 1162px;
    background: #F7F4F4;
    border-radius: 8px;
}

.welcome2__pic1_img {
    position: absolute;
    width: 400px;
    height: 324px;
    left: 0px;
    top: 0px;
    bottom: 180px;
    right: 832px;
    border-radius: 8px 8px 0px 0px;
}

.welcome2__pic1_header {
    width: 99px;
    height: 17px;
    left: 157px;
    right: 144px;
    top: 356px;
    bottom: 131px;
    /* header card */
    font-family: Messina Sans Trial;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 96.5%;
    /* or 17px */
    /* deep dark */
    color: #1C1D21;
    position: absolute;

}

.welcome2__pic1_description {
    position: absolute;
    width: 308px;
    height: 75px;
    left: 46px;
    top: 397px;
    bottom: 32px;
    /* card text */
    font-family: Messina Sans Trial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-align: center;
    /* card text */
    color: rgba(0, 0, 0, 0.46);
}

.welcome2__pic2 {
    width: 400px;
    height: 504px;
    left: 416px;
    right: 416px;
    top: 0px;
    bottom: 180px;
    background: #F7F4F4;
    border-radius: 8px;
}

.welcome2__pic2_img {
    position: absolute;
    width: 400px;
    height: 324px;
    left: 416px;
    top: 0px;
    right: 832px;
    border-radius: 8px 8px 0px 0px;
}

.welcome2__pic2_header {
    position: absolute;
    width: 99px;
    height: 17px;
    left: 566px;
    right: 151px;
    top: 356px;
    bottom: 131px;
    /* header card */
    font-family: Messina Sans Trial;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 96.5%;
    /* or 17px */
    /* deep dark */
    color: #1C1D21;
}

.welcome2__pic2_description {
    position: absolute;
    width: 308px;
    height: 62px;
    left: 462px;
    top: 397px;
    bottom: 45px;
    /* card text */
    font-family: Messina Sans Trial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-align: center;
    /* card text */
    color: rgba(0, 0, 0, 0.46);
    }



.welcome2__pic3 {

}

.welcome2__pic3_img {

}

.welcome2__pic3_header {

}

.welcome2__pic3_description {
    
}

html {

}
      
