
.header {
  width: 1230px;
  height: 26px;
  left: 107px;
  top: 32px;
  color: #1C1D21;
}

.header__remotely {
  position: absolute;
  width: 107px;
  height: 26px;
  left: 107px;
  top: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 109.5%;
  color: #1C1D21;
}

.header__book {
  position: absolute;
  width: 44px;
  height: 16px;
  left: 928px;
  top: 38px;
  /* nav */
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 89.5%;
  /* or 16px */
  color: #1C1D21;
}

.header__explore {
  position: absolute;
  width: 65px;
  height: 16px;
  left: 1004px;
  top: 36px;
  /* nav */
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 89.5%;
  /* or 16px */
  color: #1C1D21;
}

.header__about {
  position: absolute;
  width: 53px;
  height: 16px;
  left: 1101px;
  top: 36px;
  /* nav */
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 89.5%;
  /* or 16px */
  color: #1C1D21;
}

.header__signin {
  position: absolute;
  width: 59px;
  height: 16px;
  left: 1278px;
  top: 36px;
  /* nav */
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 89.5%;
  /* or 16px */
  color: #1C1D21;
}
