.booknow {
    font-style: normal;
    font-weight: normal;
    background: #ECE0E0;
    max-height: 813px;
    max-width: 1440px;

    &__button {

    }

    &__button_text {

    }


    &__content {
        display: flex;
        flex-direction: row;
        max-height: 813px;
        align-items: flex-end;
        max-height: 813px;
    }

    &__description {
        max-width: 100%;
        margin-bottom: 297px;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.46);
    }

    &__image {
        max-width: 100%;
        max-height: 100%;
        
    }

    &__header {
        max-width: 100%;
        font-weight: 400;
        font-style: normal;
        font-size: 28px;
        line-height: 150%;
        overflow: hidden;
        align-items: center;
        color: #1C1D21;
        margin-top: 296px;
    }

    &__left {
        max-width: 712px;
        margin-left: 164px;
        display: flex;

    }

    &__right {
        max-width: 807px;
    }

&__text {
    width: 400px;
    display: flex;
    flex-direction: column;
}
}