.booknow {
    font-style: normal;
    font-weight: normal;
    background: #ECE0E0;
    max-height: 813px;

    &__button {

    }

    &__button_text {

    }


    &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

    &__description {
        max-width: 100%;
        margin-bottom: 297px;
    max-width: 400px;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.46);
    }

    &__image {
        max-width: 100%;
        max-height: 100%;
    }

    &__header {
        max-width: 100%;
        font-weight: 400;
        font-style: normal;
        font-size: 28px;
        line-height: 150%;
        overflow: hidden;
        align-items: center;
        color: #1C1D21;
        margin-top: 296px;
        max-width: 400px;
    }

    &__left {
        max-width: 712px;
        max-height: 811px;
        margin-left: 164px;
    }

    &__right {
        max-width: 807px;
    }

}