.footer {
    position: relative;
    background: #F1F1F1;

    .container {
        padding: 0px 105px 84px 103px;
      }

    &__button {
        font-size: 24px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.46);
        border: none;
        padding-left: 0;
        padding-bottom: 87px;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__input {
        font-size: 24px;
        line-height: 100%;
        color: rgba(0, 0, 0, 0.46);
        border: none;
        background: #F1F1F1;

        ::placeholder {
            color: rgba(0, 0, 0, 0.46);
        }
    }

    &__label {}

    &__left {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        max-width: 384px;
    }

    &__line {}

    &__submit {
        border: none;
    }

}

.footerNav {
    display: flex;
    flex-flow: column wrap;

    &__about {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        color: #1C1D21;
        padding-bottom: 24px;
    }

    &__blog {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        color: #1C1D21;
    }

    &__contact {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        color: #1C1D21;
        padding-bottom: 24px;
    }

    &__facebook {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        color: #1C1D21;
        padding-bottom: 24px;
    }

    &__faq {    
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        color: #1C1D21;
        padding-bottom: 24px;
    }

    &__help {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        color: #1C1D21;
        padding-right: 72px;
        padding-bottom: 24px;
    }

    &__instagram {    
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        color: #1C1D21;
        padding-bottom: 24px;
    }

    &__list {
        display: flex;
    list-style: none;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    width: 479px;
    height: 156px;
    align-content: space-around;
    
    }

    &__reviews {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        color: #1C1D21;
        padding-right: 72px;
    }

    &__twitter {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        color: #1C1D21;
    }
}