.footer {
    position: relative;
    background: #F1F1F1;

    &__button {
        font-size: 24px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.46);
        border: none;
        padding: 0;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__input {
        font-size: 24px;
        line-height: 100%;
        color: rgba(0, 0, 0, 0.46);
        border: none;
        background: #F1F1F1;

        ::placeholder {
            color: rgba(0, 0, 0, 0.46);
        }
    }

    &__label {}

    &__left {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        max-width: 384px;
    }

    &__line {}

    &__submit {
        border: none;
    }

}

.footerNav {
    max-width: 479px;
    max-height: 156px;
    
    &__about {}

    &__blog {}

    &__contact {}

    &__facebook {}

    &__faq {}

    &__help {}

    &__instagram {}

    &__list {}

    &__reviews {}

    &__twitter {}
}