.container {
  display: flex;
  flex-flow: row;
  color: #1c1d21;
  align-items: center;
  font-style: normal;
  font-weight: 600;

&__logo {
  line-height: 109.5%;
  font-size: 1rem;
  /* or 26px */
}
}

.header {
  list-style: none;
  white-space: nowrap;
  justify-content: space-between;

  
  &__about {
    /* nav */
    font-size: 0.75rem;
    line-height: 89.5%;
    /* or 16px */
    margin-left: auto;
  }

  &__book {
    /* nav */
    font-size: 0.75rem;
    line-height: 89.5%;
    /* or 16px */
    margin-left: auto;
  }

  &__explore {
    /* nav */
    font-size: 0.75rem;
    line-height: 89.5%;
    /* or 16px */
    margin-left: auto;
  }

  &__list {

  }

  &__signin {
    /* nav */
    font-size: 0.75rem;
    line-height: 89.5%;
    /* or 16px */
    margin-left: auto;

  }
}

a:link {
  text-decoration: none;
  color: #1c1d21;
}
a:visited {
  text-decoration: none;
  color: #1c1d21;
}
a:active {
  text-decoration: none;
  color: #1c1d21;
}
a:hover {
  text-decoration: none;
  color: #1c1d21;
}
