.header {
  width: 1230px;
  height: 26px;
  color: #1c1d21;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;

  &__about {
    width: 53px;
    height: 16px;
    /* nav */
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 89.5%;
    /* or 16px */
    color: #1c1d21;
    margin: 16px;
  }

  &__book {
    width: 44px;
    height: 16px;
    /* nav */
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 89.5%;
    /* or 16px */
    color: #1c1d21;
    margin: 16px;

  }

  &__explore {
    width: 65px;
    height: 16px;
    /* nav */
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 89.5%;
    /* or 16px */
    color: #1c1d21;
    margin: 16px;

  }

  &__remotely {
    width: 107px;
    height: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 109.5%;
    /* or 26px */
    color: #1c1d21;
    margin-right: auto;
  }

  &__signin {
    width: 59px;
    height: 16px;
    /* nav */
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 89.5%;
    /* or 16px */
    color: #1c1d21;
    margin-left: 140px;
  }
}
