.header {
  max-width: 1230px;
  color: #1c1d21;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  white-space: nowrap;
  list-style:none;

  &__about {
    /* nav */
    font-size: 0.75rem;
    line-height: 89.5%;
    /* or 16px */

  }

  &__book {
    /* nav */
    font-size: 0.75rem;
    line-height: 89.5%;
    /* or 16px */

  }

  &__explore {
    /* nav */
    font-size: 0.75rem;
    line-height: 89.5%;
    /* or 16px */

  }

  &__remotely {
    line-height: 109.5%;
    font-size: 1rem;
    /* or 26px */

  }

  &__signin {
    /* nav */
    font-size: 0.75rem;
    line-height: 89.5%;
    /* or 16px */
      }
}

a:link {
  text-decoration:none;
  color: #1c1d21;
  }
  a:visited {
  text-decoration:none;
  color: #1c1d21;
  }
  a:active {
  text-decoration:none;
  color: #1c1d21;
  }
  a:hover {
  text-decoration:none;
  color: #1c1d21;
  }
