.hero {
  max-width: 1440px;
  height: 34.67rem;
  font-style: normal;
  font-weight: normal;
  color: #1c1d21;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  background: #d9dcd7;
  padding: 8px;

  &__button {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 33px;
    @media (max-width: $mobile) {
      margin-left: 6rem;
      margin-bottom: 4.5rem;
    }
  }

  &__button_text {
    width: 3.5rem;
    height: 1rem;
    line-height: 109.5%;
    /* or 26px */
    margin: 0 auto;
  }

  &__left {
    width: 25.21rem;
    font-size: 4rem;
    font-weight: normal;
    line-height: 96.5%;
    /* or 93px */
    overflow: hidden;

    @media (max-width: $mobile) {
      font-size: 2.5rem;
      margin-left: 1.4rem;
      margin-top: -2.7rem;
    }
  }

  &__right {
    max-width: 609px;
    height: 18.17rem;
    border-radius: 8px;
    overflow: hidden;
    @media (max-width: $mobile) {
      margin: 0 auto;
    }
  }
}
