
.main {
  width: 1440px;
  height: 900px;
  background: #d9dcd7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  

  &__button {
    width: 149px;
    height: 48px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 33px;
    margin-left: -620px;
  }

  &__button_text {
    width: 85px;
    height: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 109.5%;
    /* or 26px */
    color: #1c1d21;
    margin: 0 auto;
  }

  &__description {
    width: 605px;
    height: 267px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 96.5%;
    /* or 93px */
    color: #1c1d21;
    margin-left: 100px;
    margin-top: -320px;
  }

  &__picture {
    width: 609px;
    height: 436px;
    border-radius: 8px;
    margin-left: 720px;
    margin-top: 240px;
    }
}
