.main {
  max-width: 1440px;
  height: 832.187px;
  font-style: normal;
  font-weight: normal;
  color: #1c1d21;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;

  &__button {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 33px;
    margin-left: -22rem;
    margin-bottom: auto;
  }

  &__button_text {
    width: 3.5rem;
    height: 1rem;
    line-height: 109.5%;
    /* or 26px */
    margin: 0 auto;
  }

  &__description {
    max-width: 521px;
    font-size: 4rem;
    font-weight: normal;
    line-height: 96.5%;
    /* or 93px */
    margin-left: 4.4rem;
    margin-top: -14.7rem;
    overflow: hidden;
  }

  &__picture {
    width: 609px;
    height: 436px;
    border-radius: 8px;
    margin-left: 28rem;
    margin-top: 9rem;
    overflow: hidden;
    @media (max-width: $mobile) {
      width: 406px;
      height: 291px;
      }
  }
}

.screen1 {
  background: #D9DCD7;
  width: 1440px;
  height: 900px;
  @media (max-width: $mobile) {
    padding: 16px;
}

}
