.offer {
    width: 1212px;
    height: 86px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 119.5%;
    /* or 43px */
    text-align: center;
    /* deep dark */
    color: #1c1d21;
    margin-left: 100px;
    margin-top: 100px;    
}
