.pageBottom {
    font-style: normal;
    font-weight: normal;
    color: #1c1d21;
    background: #F1F1F1;

    &__button {}

    &__buttons {}

    &__caption {}

    &__content {}

    &__header {}
    
    &__image {}

    &__left {}

    &__right {}


}