.welcome {
    width: 1232px;
    height: 504px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
 }

.welcome__pic1 {
    width: 400px;
    height: 504px;
    background: #f7f4f4;
    border-radius: 8px;
    margin-top: 360px;

    &__description {
        width: 308px;
        height: 75px;
        /* card text */
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */
        text-align: center;
        /* card text */
        color: rgba(0, 0, 0, 0.46);
        margin: auto;
    }

    &__header {
        width: 99px;
        height: 17px;
        /* header card */
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 96.5%;
        /* or 17px */
        /* deep dark */
        color: #1c1d21;
        text-align: center;
        margin: 20px auto;
    }

    &__img {
        width: 400px;
        height: 324px;
        border-radius: 8px 8px 0px 0px;
    }
}

.welcome__pic2 {
    width: 400px;
    height: 504px;
    background: #f7f4f4;
    border-radius: 8px;
    margin-top: 360px;

    &__description {
        width: 308px;
        height: 62px;
        /* card text */
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */
        text-align: center;
        /* card text */
        color: rgba(0, 0, 0, 0.46);
        margin: auto;
    }

    &__header {
        width: 99px;
        height: 17px;
        /* header card */
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 96.5%;
        /* or 17px */
        /* deep dark */
        color: #1c1d21;
        margin: 20px auto;
    }

    &__img {
        width: 400px;
        height: 324px;
        border-radius: 8px 8px 0px 0px;
    }
}

.welcome__pic3 {
    width: 400px;
    height: 504px;
    background: #f7f4f4;
    border-radius: 8px;
    margin-top: 360px;


    &__description {
        width: 308px;
        height: 56px;
        /* card text */
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */
        text-align: center;
        /* card text */
        color: rgba(0, 0, 0, 0.46);
        margin: auto;
    }

    &__header {
        width: 130px;
        height: 17px;
        /* header card */
        font-family: Roboto;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 96.5%;
        /* or 17px */
        /* deep dark */
        color: #1c1d21;
        margin: 20px auto;
    }

    &__img {
        width: 400px;
        height: 324px;
        border-radius: 8px 8px 0px 0px;
    }
}