body {
  font-family: Messina Sans Trial;
  position: relative;
  width: 1440px;
  height: 3792px;
  background: #F1F1F1;
}

.main {
  position: absolute;
  width: 1440px;
  height: 900px;
  left: 0px;
  top: 0px;
  background: #D9DCD7;
  
  &__button {
  position: absolute;
  width: 149px;
  height: 48px;
  left: 105px;
  top: 768px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 33px;
}

&__button_text {
  position: absolute;
  width: 85px;
  height: 26px;
  left: 32px;
  top: 11px;
  font-family: Messina Sans Trial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 109.5%;
  /* or 26px */
  color: #1C1D21;
  margin-top: 0px;
  margin-bottom: 0px;
}

&__description {
  position: absolute;
  width: 605px;
  height: 267px;
  left: 123px;
  top: 453px;
  bottom: 180px;
  font-family: Messina Sans Trial;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 96.5%;
  margin-top: 0px;
  margin-bottom: 0px;
  /* or 93px */
  color: #1C1D21;
  }

  &__picture {
  position: absolute;
  width: 609px;
  height: 436px;
  left: 728px;
  top: 284px;
  border-radius: 8px;
}
}